/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    max-width: 90%;
    width: 400px;
}

h1 {
    color: #333;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

#qibla-direction, #location-info {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.compass-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

#compass {
    width: 100%;
    transform-origin: center;
    transition: transform 1s ease;
}

.qibla-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid red;
    transform: translate(-50%, -50%);
}
